@import '~modularscale-sass/stylesheets/modularscale';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
$dark-primary-color: #D32F2F;
$light-primary-color: #FFCDD2;
$primary-color: #F44336;
$color-text-icon: #FFFFFF;
$accent-color: #FF5722;
$primary-text: #212121;
$secondary-color: #757575;
$divider-color: #BDBDBD;
$color-info: #2196f3;
$color-info--text: #0d47a1;
$color-success: #4caf50;
$color-success--text: #1b5e20;
$color-danger: #f44336;
$color-danger--text: #b71c1c;
$color-warning: #ffeb3b;
$color-warning--text: #f57f17;
$fonts: 'Roboto', Helvetica, Arial, sans-serif;
$modularscale: (
  base: 1em,
  ratio: 1.5
);
  